body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    color: #222222;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  label span{
    display: inline-block;
    min-width: 100px;
    vertical-align: top;
  }
  .jumbotron{
    width: 500px;
    margin: 50px auto;
    border: 1px solid #ddd;
    padding: 40px;
  }
  section{
    margin-bottom: 20px;
  }
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  h3{
    font-size: 22px;
    line-height: 1;
  }
  .nav{
    text-align: right;
  }
  .nav li{
     list-style: none;
     display: inline-block;
     padding: 20px;

  }
.list{
  width: 800px;
  margin: 50px auto;
}